.panel.panel-default
   .panel-body
      .panel.panel-default(style="margin-bottom: 0")
         .panel-body(style="padding-bottom: 0")
            .col-xs-2.col-md-2.text-center
               img.img-thumbnail(width="50px"  src=video.author.profilePic)
            .col-xs-8.col-md-8
               h3(style="margin-top: 0;"): a(href="") #{ video.author.firstName } #{ video.author.lastName }
               h5(style="margin-top: 0; margin-bottom: 0") #[small Sep 21, 2015]

      video(preload="auto" width="100%" src=video.videoURL controls)
      br
      .col-xs-8
        .b(style="font-size:25px") #{ video.title }
      .col-xs-4.text-right
          a.fa.fa-heart-o.fa-2x(style="color: red" href="")
      hr
      .panel-group
            .panel.panel-default
                - var collapseId = "collapse" + video._id
                a(data-toggle="collapse" role="button" href="#"+collapseId aria-expanded="false" aria-controls=collapseId): span.fa.fa-caret-right: b(style="font-size:10px") view comments
               .panel-collapse.collapse(id=collapseId)
                  - each comment in video.comments
                    .panel-body
                        .col-xs-1.col-md-1.text-center
                            img.img-circle(width="35px" src=comment.author.profilePic)
                        .col-xs-11.col-md-11
                            .b(style="font-size: 13px") #{ comment.author.firstName } #{ comment.author.lastName }
                            .b(style="font-size: 11px") #{ comment.comment }
         .panel.panel-default
            .panel-body
                form(id=video._id)
                    textarea.form-control(rows="1" placeholder="Write a comment...")